# Database Configuration
POSTGRES_PASSWORD=scalpsql
POSTGRES_USER=postgres
POSTGRES_DB=scalpcentral
POSTGRES_CONNECTION=Host=postgres;Port=5432;Username=postgres;Password=scalpsql;Database=scalpcentral

REDIS_CONNECTION=redis:6379

# Appsetting.json override values (voorrang op appsetting.json values)
ConnectionStrings__postgres=Host=postgres;Port=5432;Username=postgres;Password=scalpsql;Database=scalpcentral
ConnectionStrings__redis=redis:6379

# API CORS and Redis
Cors__AllowedOrigins=http://localhost

# Frontend Configuration
VITE_API_URL=/api