*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  outline: 1px solid rgba(255, 0, 0, 0.3);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #F5F5F0;
}

:root {
  font: 18px/145% var(--sans);
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 20px;
  }
}