:root {
    --pokeWhite : #FAFFF2;
    --darkPokeBlue : #001959;
    --midPokeBlue: #00478A;
    --lightPokeBlue: #4187E1;

    --darkPokeYellow: #C4CC1A;
    --pokeYellow: #F1F979;
    --lightPokeYellow: #EAFFC8;
}