@import './Colors.css';

.navbar-link {
    color: var(--pokeWhite);
    transition: all 0.2s ease;
    padding: 0.5rem 1rem;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 8px;
}

.navbar-link:hover {
    color: var(--pokeYellow);
    border-color: var(--pokeYellow);
}

.navbar-link.active {
    background: linear-gradient(to top, var(--lightPokeYellow), var(--pokeYellow));
    color: var(--lightPokeBlue);
}